[submodule "Ladoo/vendor/spdlog"]
	path = Ladoo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ladoo/vendor/GLFW"]
	path = Ladoo/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ladoo/vendor/imgui"]
	path = Ladoo/vendor/imgui
	url = https://github.com/tanveerg1/imgui
[submodule "Ladoo/vendor/glm"]
	path = Ladoo/vendor/glm
	url = https://github.com/g-truc/glm
